# Configuration file used for the RestMonitor.py test
# script.
#
# Place this file in the same directory as the RestMonitor.py
# script and supply the values for the parameters below by updating
# the default values to the right of the equal ('=') sign as necessary.
#

[DEFAULT]
# Integer representing the max number of loops allowed
MAX_LOOPS = 5

# Time to sleep between check loops in seconds
SLEEP_TIME_SECONDS = 60 

# True or False, fail immediately on error or attempt to continue
CONTINUE_ON_ERROR = True

# The e-mail address to send notifications from
SENDER_EMAIL_ADDRESS = tsweeney@alum.wpi.edu

# The e-mail address to send notifications to
RECEIVER_EMAIL_ADDRESS = tsweeney@alum.wpi.edu

# The location and filename for the logfile
LOG_FILE_PATH = RestMonitor.log

